*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* .debug{
    border: 2px solid red;
} */
:root{
    --darkblack: #000000;
    --nightblue: #141922;
    --subgrey: #74767b;
    --bg-footer: #282828;
    --lime: #adff2f;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/* UTILITY */
a{
    color: white;
    text-decoration: none;
    display: inline-block;
}
.btn{
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
}
.u-text{
    text-transform: uppercase;
}
/* RULES */
.p-15{
    padding: 15px;
}
ul{
    list-style: none;
}
/* FLEX */
.d-flex{
    display: flex;
}
.justify-end{
    justify-content: flex-end;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
    align-content: center;
}

/* CONTENT */
.wrapper{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    color: white;
}
main{
    height: calc(100% - 90px);
    width: 100%;
    background-color: green;
    overflow: hidden;
}

/* MAIN-NAV */
.main-nav{
    width: 230px;
    min-height: 480px;
    background-color: var(--darkblack);
    flex-direction: column;
    justify-content: space-between;
}
.logo-container{
    padding:15px;
}
.logo-container > img{
    width: 80%;
}
.nav-menu ul li a, .my-playlist ul li a{
    padding-bottom: 15px;
    color: var(--subgrey);
    font-weight: 600;
    font-size: 14px;
}
ul li i{
    color: lightgrey;
    font-size: 1.3rem;
}
.add-container{
    padding: 15px 0;
}
.add-button{
    width: 40px;
    height: 40px;
    background-color: lightgrey;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-size: 3rem;
    color: var(--darkblack);
    cursor: pointer;
}
.add-playlist a{
    display: inline-block;
    padding: 10px 10px;
    color: var(--subgrey);
    font-weight: 600;
}
.bottom-nav > a, i{
    color: var(--subgrey);
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 10px;
}
.h-nav{
    height: 1px;
    background-color: var(--subgrey);
    border: none;
    margin-bottom: 10px;
}
.user-photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.user-photo > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#username{
    font-weight: 600;
    padding-left: 10px;
}

/* MAIN-CONTENT */
.main-content{
    width: calc(100% - 230px);
    height: 100%;
    background-color: var(--nightblue);
    overflow-y: auto;
}
.call-to-action{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 230px);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
}
.main-section{
    margin-top: 80px;
}

/* SUGGESTIONS-NAV */
.music-suggestions ul li a{
    color: var(--subgrey);
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 15px;
}
.container{
    border: 1px solid white;
    padding:15px;
}

/* SECTION-RECENTLY */
.recently, .create-for-you{
  padding:30px 50px;
}
.row{
    margin-top:20px;
}
.col{
    border: 1px solid red;
    padding: 15px;
    width: calc(100% / 6);
    flex-direction: column;
    gap: 10px;;
}
.recently img, .create-for-you img{
    width: 100%;
}
.create-for-you span{
    display: inline-block;
    color: var(--subgrey);
    font-size: 12px;
    font-weight: 600;
}
.playbar{
    width: 100%;
    height: 90px;
    background-color: var(--bg-footer);
}
/* il footer sta dentro wrapper */