*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* .debug{
    border: 2px solid red;
} */
:root{
    --darkblack: #000000;
    --nightblue: #141922;
    --subgrey: #74767b;
    --bg-footer: #282828;
    --lime: #1DB954;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/* UTILITY */
a{
    color: white;
    text-decoration: none;
    display: inline-block;
}
.btn{
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
}
.u-text{
    text-transform: uppercase;
}
.text-white{
    color: white;
}
/* RULES */
.p-15{
    padding: 15px;
}
.p-15-25{
    padding: 15px 25px;
}
.m-bottom10{
    margin-bottom: 20px;
}
ul{
    list-style: none;
}

/* SCROLLBAR CUSTOM */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* FLEX */
.d-flex{
    display: flex;
}
.justify-end{
    justify-content: flex-end;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
    align-content: center;
}
.f-wrap{
    flex-wrap: wrap;
}

/* CONTENT */
.wrapper{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    color: white;
}
main{
    height: calc(100% - 90px);
    width: 100%;
    background-color: var(--nightblue);
    overflow: hidden;
}

/* MAIN-NAV */
.main-nav{
    width: 250px;
    height: 100%;
    min-height: 480px;
    background-color: var(--darkblack);
    flex-direction: column;
    justify-content: space-between;
}
.top-nav{
    height: calc(100% - 100px);
}
.main-nav-content{
    height: 65vh;
    padding-top:20px;
}
.logo-container{
    padding:15px 30px 15px 20px;
}
.logo-small{
    padding:20px 0 0 25px;
    display: none;
}
.logo-container img, .logo-small img{
    width: 70%;
}
.nav-menu ul li a, .my-playlist ul li a{
    padding-bottom: 15px;
    color: var(--subgrey);
    font-weight: 600;
    font-size: 14px;
}
ul li i{
    color: lightgrey;
    font-size: 1.3rem;
    padding-right: 10px;
    padding-left: 25px;
}
.nav-menu ul li:hover{
    border-left: 3px solid var(--lime);
}
.nav-menu ul li:hover a, .nav-menu ul li:hover i{
    color: white;
}
.current-menu{
    border-left: 3px solid var(--lime);
}
#a-select{
    color:white;
}
.my-playlist{
    width: 300px;
    height: 80%;
}
.my-playlist ul{
    height: 60%;
    overflow: auto;
}
.my-playlist ul li a:hover{
    color: white;
}
.add-container{
    padding: 15px 0;
}
.add-container:hover .add-button{
    background-color: white;
    scale: 1.2;
}
.add-container:hover .add-playlist a{
    color: white;
}
.add-button{
    width: 40px;
    height: 40px;
    background-color: lightgrey;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    font-size: 3rem;
    color: var(--darkblack);
    cursor: pointer;
}
.add-playlist a{
    display: inline-block;
    padding: 10px 10px;
    color: var(--subgrey);
    font-weight: 600;
}
.bottom-nav{
    height: 100px;
    background-color: black;
}
.bottom-nav > a, i{
    color: var(--subgrey);
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 10px;
}
.bottom-nav a:hover{
    color: white;
}
.h-nav{
    height: 1px;
    background-color: var(--subgrey);
    border: none;
    margin-bottom: 10px;
}
.user-photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user-photo > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#username{
    font-weight: 600;
    padding-left: 10px;
    cursor: pointer;
}

/* MAIN-CONTENT */
.main-content{
    width: calc(100% - 250px);
    height: 100%;
    background-color: var(--nightblue);
    overflow-y: auto;
}
.call-to-action{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 250px);
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.call-to-action a{
    scale: 0.8;
    transition: scale 0.3s;
}
.call-to-action a:hover{
    scale: 1;
    font-weight: 600;
    border-color: var(--lime);
}
.main-section{
    margin-top: 80px;
}

/* SUGGESTIONS-NAV */
.music-suggestions ul li a{
    color: var(--subgrey);
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 15px;
    scale:0.8;
    transition: scale 0.5s;
}
.music-suggestions ul li a:hover{
    border-bottom: 3px solid var(--lime);
    color: white;
    scale: 1;
}
#current-sug{
    border-bottom: 3px solid var(--lime);
    color: white;
    scale:1;
}
.container{
    padding:15px;
}

/* SECTION-RECENTLY */
.recently, .create-for-you, .popular{
  padding:15px 50px;
}
.row{
    margin-top:20px;
    margin-left: -40px;
}
.col{
    width: calc(100% / 6);
    flex-direction: column;
    gap: 10px;
    cursor:pointer;
}
.col > span{
    color: var(--subgrey);
    font-weight: 600;
    font-size: 14px;
}
.cover-image, circle.photo{
    position: relative;
    scale:1;
    transition: scale 1s;
}
.col:hover .cover-image, .col:hover .circle-photo{
    scale:1.1;
}
.cover-image::after, .circle-photo::after{
    content: "\f144";
    font-family: 'Font Awesome 6 Free';
    font-size: 3rem;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col:hover .cover-image::after{
    opacity: 1;
}
.circle-photo:hover::after{
    opacity: 1;
}
.cover-image img, .create-for-you img{
    width: 70%;
}
.circle-photo{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.popular img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.create-for-you span, .popular span{
    display: inline-block;
    color: var(--subgrey);
    font-size: 12px;
    font-weight: 600;
}

/* FOOTER */
.playbar{
    width: 100%;
    height: 90px;
    background-color: var(--bg-footer);
    padding: 0 15px;
}

/* PLAYING-TRACK */
.playing-track, .audio-controls{
    width: 25%;
}
.track-controls{
    width: 50%;
}
.track-listening > img{
    width: 15%;
}
.track-name span{
    color: var(--subgrey);
    font-weight: 600;
    font-size: 12px;
}
.track-option{
    padding: 0 25px;
    width: 100%;
}
.track-option i{
    display: inline-flex;
    margin-right: 10px;
    cursor: pointer;
    font-size: 1.1rem;
}
.track-option i:hover{
    color: white;
}

/* TRACK-CONTROLS */
.track-controls{
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.top-controls a i{
    color: white;
    font-size: 1.2rem;
    padding: 0 10px;
}
#circle-play i{
    font-size: 2rem;
    scale: 1.2;
}
.bottom-controls, .line-time{
    width: 75%;
    justify-content: space-around;
}
.bottom-controls > span{
    font-weight: 600;
    font-size: 14px;
}
.getlisten{
    width:20%;
    height: 5px;
    background-color: lightgrey;
    border-radius: 10px;
}
.notlisten{
    width: 80%;
    height: 5px;
    background-color: var(--subgrey);
    border-radius: 10px;
}
audio{
    position:absolute;
    top:5px;
    left:450px;
    opacity: 0; 
}
.tap-here{
    position: absolute;
    top:-20%;
    width: 20%;
    height:30px;
    animation: flip 2s infinite;
    animation-delay: .2s 
}
.tap-here span{
    display: inline-block;
    background-color: var(--lime);
    padding:5px;
    position:absolute;
    top:-50%;
    left:40%;
    border-radius:10px;
    color: black;
    font-weight: 600;
    cursor:pointer;
}
@keyframes flip{
    0%,80% {
        transform: rotateY(360deg)
    }
}
.triangle{
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--lime);
  position: absolute;
  top:40%;
  left:45%;
}

/* TRACK-AUDIO */
.audio-option i{
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}
  .slider{
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(#ffffff, #ffffff);
    background-size: 30% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius:50%;
    background: white;
    cursor: pointer;
  }
  .slider::-webkit-slider-thumb:hover{
    background: var(--lime);
  }
.audio-more{
    visibility:hidden;
    margin: auto;
    font-size: 1.2rem;
}

/* PAGES - MILANO DEMONS */

/* ALBUM-INFO-CONTAINER */
.main-milano-demons{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 25%, rgba(130,49,49,1) 70%, rgba(250,87,54,1) 100%);
}
.album-info-container{
    margin-top: 70px;
}
.album-info{
    justify-content: flex-start;
    height: 250px;
}
.album-photo{
    width: 250px;
    height: 250px;
}
.album-photo > img{
    width: 100%;
}
.album-details{
    flex-direction: column;
    padding-top: 80px;
}
.album-details > h1{
    font-size:6rem;
    font-weight: 900;
    letter-spacing: -5px;
}
.album-duration{
    padding-top:20px;
}
.artist-photo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.artist-photo > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.album-duration > p{
    padding-left: 5px;
    font-size: 14px;;
}
#dur-time{
    color: lightgrey;
}

/* SHORT-COMMANDS */
.short-commands{
    padding-top: 40px;
}
.short-commands > i{
    font-size: 1.8rem;
    padding-left: 25px;
    padding-top: 12px;
}
.playcasual{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--lime);
    position: relative;
}
.playcasual span{
    font-size: 1.8rem;
    position: absolute;
    transform: rotate(-90deg);
    color: black;
}

/* ALBUM-TRACKLIST */
.row-legend div{
    color: var(--subgrey);
}
.col-number{
    width: 5%;
    text-align: center;
    font-weight: 600;
    color: var(--subgrey);
}
.col-title{
    width: 90%;
}
.col-duration{
    width: 5%;
    text-align: center;
    font-weight: 600;
    color: var(--subgrey);
}
#hr-track{
    height: 1px;
    background-color: rgba(128, 128, 128, 0.514);
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;;
}
#track-name{
    display: block;   
    font-size: 0.9rem;
    font-weight: 600; 
    padding-bottom: 5px;
}
#artist-name{
    display: inline-block;
    color: var(--subgrey);
    font-size: 0.9rem;
    font-weight: 600;
}

/* DISCLAIMER */
.disclaimer{
    padding: 20px 0;

}
.disclaimer > span{
    color: var(--subgrey);
    display: block;
    font-weight: 600;
}
#date-release{
    font-size: 0.9rem;
}
#copyright, #copyright i{
    font-size: 0.7rem;
}

/* RELATED */
.related .col{
    width: calc(100% / 8);
}
.rel-info, .rel-info-year{
    padding-left: 35px;
}
.related img{
    border-radius: 5px;
}

/* FOOTER */
.footer-top{
    justify-content: space-between;
    padding-top: 100px;
}
.footer-left{
    width: 40%;
}
.f-ul {
    padding-right: 45px;
    width: calc(100% / 3);
}
.f-ul li a{
    color: var(--subgrey);
    font-size: 14px;
    font-weight: 500;
    padding: 8px 0;
}
#ul-title{
    font-weight: 600;
    color: white;
    font-size: 16px;
    padding-bottom: 10px;
}
.footer-right{
    gap: 10px;
}
.social-container{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(94, 92, 92, 0.521);
}
.social-container i{
    color: white;
    line-height: 40px;
    font-size: 1rem
}
.con-term ul li a{
    color: var(--subgrey);
    padding: 0 20px 0 0;
    font-size: 14px;
    font-weight: 500;
}
.footer-bottom{
    justify-content: space-between;
    padding-bottom: 40px;
}
.copyright-pages-album span{
    color: var(--subgrey);
    font-size: 14px;
    font-weight: 600;
}

/* RESPONSIVE */

@media screen and (max-width: 1200px){
    .col{
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 992px){
    .col{
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 768px){
    .col{
        width: calc(100% / 2);
    }
    .track-option, .audio-option{
        flex-flow: column wrap;
    }
}

@media screen and (max-width: 576px){
    .main-nav{
        width: 60px;
    }
    .main-content{
        width: calc(100% - 60px);
    }
    .nav-menu ul li a,
     .my-playlist, 
     .bottom-nav a, 
     .bottom-nav hr, 
     #username,
     .myplaylist,
     .logo-container,
     .audio-option, 
     .line-audio, 
     .track-option{
        display: none;
    }
    .user-container{
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .user-small{
        min-width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
    }
    .logo-small, .user-photo img{
        display: block;
    }
    .audio-more{
        visibility: visible;
    }
    .audio-more a i{
        color: white;
    }
    .playbar{
        justify-content: space-between;
    }
}

@media screen and (max-width: 400px){
    .col{
        width: 100%;
    }
    .track-option{
        display: none;
    }
}